{% extends "layout/basic.html" %}

{% block content %}
  <h2>Создать заявку</h2>
    <form method="post" enctype="multipart/form-data" style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" style="background-color: black; color: white; padding: 20px; border: none; border-radius: 20px; ">Создать заявку</button>
    </form>
{% endblock %}
