{% extends "layout/basic.html" %}

{% block title %} Главная {% endblock %}

{% block content %}
<h2>Количество заявок в статусе «Принято в работу»: {{ in_progress_count }}</h2>
<h2>Последние заявки в статусе «Выполнено»</h2>
<ul style="display: flex; flex-wrap: wrap; justify-content: center; gap: 30px; list-style-type: none; padding: 0;">
    {% for request in completed_requests %}
        <li style="max-width: 400px; background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 7px; margin-top: 30px; padding: 20px; margin-bottom: 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
            <p><strong>Временная метка:</strong> {{ request.timestamp }}</p>
            <p><strong>Название:</strong> {{ request.title }}</p>
            <p><strong>Категория заявки:</strong> {{ request.category }}</p>
            {% if request.photo %}
                <img src="{{ request.photo.url }}" alt="{{ request.title }}" style="max-width: 300px; max-height: 400px; border-radius: 7px; margin-bottom: 10px;">
            {% endif %}
            {% if request.design_image %}
                <p><strong>Готовый дизайн:</strong></p>
                <img src="{{ request.design_image.url }}" alt="{{ request.title }}" style="max-width: 300px; max-height: 400px; border-radius: 7px; margin-bottom: 10px;">
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}