{% extends "layout/basic.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %} Регистрация {% endblock %}

{% block content %}
<h2>Регистрация нового пользователя</h2>

<form method="post" id="registration-form" style=" display: flex; max-width: 40vw; height: 60vh; flex-direction: column; padding: 30px 20px;">
    {% csrf_token %}

    <!-- Поля формы -->
    <div class="form-group">
        <label for="id_username" style="font-size: 1.25rem;">Логин:</label>
        <input type="text" id="id_username" name="username" class="form-control" onkeyup="check_username(this);" data-url="{% url 'main:check_username' %}" style="border: 2px solid #000; border-radius: 10px; height: 45px;">
        <div id="username-error" style="color: red; display: none;">Имя пользователя занято!</div>
        <div id="username-success" style="color: green; display: none;">Имя пользователя доступно.</div>
    </div>

    <div class="form-group">
        <label for="id_fio" style="font-size: 1.25rem;">ФИО:</label>
        <input type="text" id="id_fio" name="fio" class="form-control" style="border: 2px solid #000; border-radius: 10px; height: 45px;">
    </div>

    <div class="form-group">
        <label for="id_email" style="font-size: 1.25rem;">Адрес электронной почты:</label>
        <input type="email" id="id_email" name="email" class="form-control" style="border: 2px solid #000; border-radius: 10px; height: 45px;">
    </div>

    <div class="form-group">
        <label for="id_password1" style="font-size: 1.25rem;">Пароль:</label>
        <input type="password" id="id_password1" name="password1" class="form-control" style="border: 2px solid #000; border-radius: 10px; height: 45px;">
    </div>

    <div class="form-group">
        <label for="id_password2" style="font-size: 1.25rem;">Пароль (повторно):</label>
        <input type="password" id="id_password2" name="password2" class="form-control" style="border: 2px solid #000; border-radius: 10px; height: 45px;">
    </div>

    <div class="form-group form-check">
        <input type="checkbox" id="id_consent" name="consent" class="form-check-input">
        <label for="id_consent" class="form-check-label">Согласие на обработку персональных данных</label>
    </div>

    <input type="submit" value="Зарегистрироваться" style="background-color: black; color: white; padding: 20px; border: none; border-radius: 20px;">
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}