{% extends "layout/basic.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %} Заявки {% endblock %}

{% block content %}
<h2 style="margin-bottom: 30px">Список заявок</h2>
<a href="{% url 'main:create_request' %}" style="background-color: black; color: white; padding: 20px; border: none; border-radius: 20px;">Создать новую заявку</a>
<ul class="request-list" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 30px; list-style-type: none; padding: 0;">
    {% for request in requests %}
        <li class="request-item" style="max-width: 400px; background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 7px; margin-top: 30px; padding: 20px; margin-bottom: 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" >
            <strong>{{ request.title }}</strong> - {{ request.status }}
            <p><strong>Описание:</strong>{{ request.description }}</p>
            <p><strong>Категория:</strong> {{ request.category }}</p>
            {% if request.photo %}
                <img src="{{ request.photo.url }}" alt="{{ request.title }}" style="max-width: 300px; max-height: 400px; border-radius: 7px; margin-bottom: 10px;">
            {% endif %}
            <p><strong>Дата создания:</strong>  {{ request.timestamp }}</p>
            {% if request.comment %}
                <p>Комментарий: {{ request.comment }}</p>
            {% endif %}
            {% if request.design_image %}
                <img src="{{ request.design_image.url }}" alt="{{ request.title }}" style="max-width: 300px; max-height: 400px; border-radius: 7px; margin-bottom: 10px;">
            {% endif %}
            {% if user.is_staff and request.status not in 'in_progress,completed' %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="request_id" value="{{ request.id }}">
                    {{ form.status }}
                    <div id="design_image_{{ request.id }}" style="display: none;">
                        <p><strong>Готовый дизайн, фото:</strong> {{ form.design_image }}</p>
                    </div>
                    <div id="comment_{{ request.id }}" style="display: none;">
                        <p><strong>Коментарий дизайнера:</strong>  {{ form.comment }}</p>
                    </div>
                    <button type="submit">Изменить статус</button>
                </form>
            {% endif %}
            <a href="{% url 'main:delete_request' request.id %}" style="background-color: black; color: white; padding: 10px; border: none; border-radius: 10px;">Удалить заявку</a>
        </li>
    {% endfor %}
</ul>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}